<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalcularWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53630/CalcularWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalcularWebServiceSoap"
                contract="ServiceReferencePractica3.CalcularWebServiceSoap"
                name="CalcularWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>